@font-face {
  font-family: 'roboto_mediumregular';
  src: url('../fonts/robotomedium-webfont.eot');
  src: url('../fonts/robotomedium-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/robotomedium-webfont.woff2') format('woff2'), url('../fonts/robotomedium-webfont.woff') format('woff'), url('../fonts/robotomedium-webfont.ttf') format('truetype'), url('../fonts/robotomedium-webfont.svg#roboto_mediumregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'robotoregular';
  src: url('../fonts/robotoregular-webfont.eot');
  src: url('../fonts/robotoregular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/robotoregular-webfont.woff2') format('woff2'), url('../fonts/robotoregular-webfont.woff') format('woff'), url('../fonts/robotoregular-webfont.ttf') format('truetype'), url('../fonts/robotoregular-webfont.svg#robotoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'roboto_slabregular';
  src: url('../fonts/robotoslabregular-webfont.eot');
  src: url('../fonts/robotoslabregular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/robotoslabregular-webfont.woff2') format('woff2'), url('../fonts/robotoslabregular-webfont.woff') format('woff'), url('../fonts/robotoslabregular-webfont.ttf') format('truetype'), url('../fonts/robotoslabregular-webfont.svg#roboto_slabregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  color: #2f3c4e;
  text-decoration: none;
  transition: 0.4s;
}
body {
  background: #f1f1f1;
  font: 14px/20px 'robotoregular', sans-serif;
  color: #2f3c4e;
}
.container {
  max-width: 930px;
  padding: 0 15px;
  margin: 0 auto;
}
.btn {
  display: inline-block;
  vertical-align: top;
  text-transform: uppercase;
  font: 12px/30px 'roboto_mediumregular', sans-serif;
  padding: 0 20px;
}
.btn--red {
  color: #fff;
  background: #e74c3c;
}
.header {
  background: #fff;
}
.top-menu__list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.top-menu__item {
  border-bottom: 1px solid #eee;
}
.top-menu__link {
  display: block;
  font-size: 14px;
  text-transform: uppercase;
  padding: 10px 15px 9px;
  font-family: 'roboto_mediumregular', sans-serif;
}
.top-menu__link:hover {
  color: #fff;
  background: #e74c3c;
}
.main {
  font-size: 0;
  padding: 40px 0 3px;
}
.sidebar {
  font-size: 14px;
}
.sidebar-menu {
  background: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  margin: 0 0 30px;
  padding: 17px 20px 24px;
}
.sidebar-menu__list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.sidebar-menu__item {
  border-bottom: 1px solid #f1f1f1;
}
.sidebar-menu__item--light {
  border-color: #ea7e73;
}
.sidebar-menu__item:last-child {
  border-bottom: 0;
}
.sidebar-menu__link {
  display: block;
  padding: 9px 0 4px;
}
.sidebar-menu__link--light {
  color: #fff;
}
.sidebar-menu--red {
  background: #e74c3c;
}
.blog {
  font-size: 14px;
}
.blog__item {
  background: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin: 0 0 30px;
  border-radius: 3px;
}
.blog__image__thumbnail {
  display: block;
  margin: 0 auto;
}
.blog__title {
  padding: 19px 20px 20px;
  font: normal 24px/32px 'roboto_slabregular', sans-serif;
  position: relative;
}
.blog__title:before {
  content: "";
  width: 35px;
  height: 35px;
  background: url(../img/triangle-b-bg.png) no-repeat 0 0;
  position: absolute;
  top: 0;
  right: 0;
}
.blog__info {
  padding: 17px 20px;
}
.blog__txt {
  padding: 0 0 20px;
}
.blog__more {
  border-top: 1px solid #f1f1f1;
  padding: 20px 0 0;
  text-align: right;
}
@media screen and (min-width: 768px) {
  .top-menu__list {
    text-align: right;
    font-size: 0;
  }
  .top-menu__item {
    display: inline-block;
    vertical-align: top;
    border: 0;
  }
  .top-menu__link {
    padding: 30px 15px;
  }
  .content {
    width: 70%;
    display: inline-block;
    vertical-align: top;
    padding: 0 15px;
  }
  .sidebar {
    width: 30%;
    display: inline-block;
    vertical-align: top;
    padding: 0 15px;
  }
}
